.signin{
  background-color: #C7EAFB;
  width: 100%;
  height: 690px;
  display: flex;
  justify-content: center;
}

.signin__form{
  text-align: center;
  width: 435px;
  height: 575px;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25)
}


.signin__form form p{
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
  color: #01ADED;
}

.signin__form form{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.signin__form form input{
  box-sizing: border-box;
  width: 377px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid rgba(139, 139, 139, 0.5);
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
}


.signin__form form input::placeholder{
  font-size: 18px;
}

.signin__form form button{
  box-sizing: border-box;
  background-color: #18B6F0;
  border: none;
  color: white;
  width: 377px;
  height: 47px;
  border-radius: 5px;
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}

.signin__form form button:hover{
  background-color: #195176;  
}

.signin__google{
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px #8B8B8B;
}

.signin__google button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #18B6F0;
  border: none;
  color: white;
  width: 377px;
  height: 47px;
  border-radius: 5px;
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}

.signin__google button:hover{
  background-color: #195176;  
}
.signin__google button img{
  margin-left: 5px;
  width: 43px;
}

.signin__register button{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #18B6F0;
  border: none;
  color: white;
  width: 377px;
  height: 47px;
  border-radius: 5px;
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}

.signin__register button:hover{
  background-color: #195176;  
}

.signin__register {
  margin-top: 50px;
  border-top: 1px solid #8B8B8B;
  color: #8B8B8B;
}