.courses {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #c7eafb;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.courses__grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 1439px) {
  .courses__grid {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .courses__grid {
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 766px) {
  .courses__grid {
    margin: 0 auto;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}
