.uploadvideo {
  background-color: white;
  margin: 0 auto;
  max-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.uploadvideo form {
  display: flex;
  flex-direction: column;
}

.uploadvideo form button {
  box-sizing: border-box;
  background-color: #18b6f0;
  border: none;
  color: white;
  width: 100%;
  height: 30px;
  margin: 10px auto;
  padding-left: 10px;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}

.uploadvideo form button:hover {
  background-color: #195176;
}

.simple__input {
  border: 1px solid #8b8b8b;
  outline: none;
  margin-bottom: 5px;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}

.imageupload__progress {
  width: 100%;
}

.upload-btn-wrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.upload-btn-wrapper span {
  color: #8b8b8b;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  border: 1px solid #8b8b8b;
  background-color: #ddeafb;
  width: 40%;
  height: 30px;
}

.upload-btn-wrapper span img {
  width: 20px;
  margin-left: 5px;
}

.upload-btn-wrapper p {
  margin: 5px 0;
  padding: 2px;
  word-wrap: none;
  font-size: 10px;
  color: #8b8b8b;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid #8b8b8b;
  overflow: hidden;
  min-width: 60%;
  height: 30px;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
